/* Button */
.button {
  background-color: hsl(200, 100%, 50%);
  color: white;
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.button .button-image {
    max-width: 250px;
}