/* Card */
.card {
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: 0px 0px 10px hsl(0, 0%, 0%, 0.1);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 150px;
  display: inline-block;
}
.card .card-image {
  max-width: 60%;
  height: auto;
  margin-bottom: 10px;
}
.card .card-title {
  font-family: Arial, sans-serif;
  margin: 0px;
  color: hsl(0, 0%, 20%);
}
.card .card-text {
  font-family: Arial, sans-serif;
  font-size: small;
  margin: 10px;
  color: hsl(0, 0%, 30%);
}

/* Button */
.button {
  background-color: hsl(200, 100%, 50%);
  color: white;
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}