/* Thread */
.thread {
  display: block;
  width: 100%;
  margin: 10px auto;
  padding: 20px;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: 0px 0px 10px hsl(0, 0%, 0%, 0.1);
  background-color: hsl(0, 10%, 95%);
  text-align: left;
}
.thread .thread-title {
  font-family: Arial, sans-serif;
  font-size: 1.1rem;
  margin: 0 0 8px 0;
  color: hsl(0, 0%, 20%);
}
.thread .thread-text {
  font-family: Arial, sans-serif;
  line-height: 1.4;
  margin: 0;
  color: hsl(0, 0%, 30%);
}

/* Button */
.button {
  background-color: hsl(200, 100%, 50%);
  color: white;
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Center */
.center-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}